[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.16"
mysqlclient = "==1.4.6"
djangorestframework = "==3.11.0"
drf-yasg = "==1.17.1"
uwsgi = "==2.0.19"
django-debug-toolbar = "*"
pyvmomi = "==7.0"
pyopenssl = "==19.1.0"
openstacksdk = "==0.50.0"
importlib-metadata = "==1.7.0"

[requires]
python_version = "3.6"
