appdirs==1.4.4
asgiref==3.5.2
certifi==2022.5.18.1
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
concurrent-log-handler==0.9.19
coreapi==2.3.3
coreschema==0.0.4
cryptography==37.0.2
decorator==5.1.1
Django==3.2.13
django-cors-headers==3.7.0
django-debug-toolbar==3.4.0
djangorestframework==3.13.1
dogpile.cache==1.1.5
drf-yasg==1.20.0
idna==3.3
importlib-metadata==1.7.0
inflection==0.5.1
iso8601==1.0.2
itypes==1.2.0
Jinja2==3.1.2
jmespath==1.0.0
jsonpatch==1.32
jsonpointer==2.3
keystoneauth1==4.6.0
MarkupSafe==2.1.1
munch==2.5.0
mysqlclient==2.1.0
netifaces==0.11.0
openstacksdk==0.50.0
os-service-types==1.7.0
packaging==21.3
pbr==5.9.0
portalocker==2.4.0
pycparser==2.21
PyJWT==2.4.0
pyOpenSSL==19.1.0
pyparsing==3.0.9
pytz==2022.1
pyvmomi==7.0
PyYAML==6.0
requests==2.27.1
requestsexceptions==1.4.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
six==1.16.0
sqlparse==0.4.2
stevedore==3.5.0
uritemplate==4.1.1
urllib3==1.26.9
uWSGI==2.0.20
zipp==3.8.0
