{% load i18n %}
<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>{% trans '邮件详情' %}</title>
</head>
<body>
   <div>
       <div style="text-align: center">
           <p>{{ email.subject }}</p>
           <p>{% trans '标签' %}：{{ email.get_tag_display }}</p>
           <p>To: {{ email.receiver }}</p>
           <p>{% trans '发送时间' %}: {{ email.send_time | date:'Y-m-d H:i:s' }}</p>
       </div>
       <hr>
       <div>
           <div>
               {% if email.is_html %}
                   {{ email.message | safe }}
               {% else %}
                   <pre style="white-space: pre-wrap;word-wrap: break-word">{{ email.message }}</pre>
               {% endif %}
           </div>
       </div>
   </div>
</body>
</html>