{% extends 'sidebar.html' %}
{% load static %}
{% load sizeformat %}
{% load i18n %}

{% block head %}
    <style>
        .text-overflow-hide {
            width: 50%;
            word-break: keep-all;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
{% endblock %}
{% block title %}{% trans '首页' %}{% endblock %}

{% block content %}
    <div class="bg-light">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                {% if active_service %}
                    <a class="nav-link active" href="{% url 'service:home' active_service %}">我的资源</a>
                {% else %}
                    <a class="nav-link active" href="{% url 'service:index' %}">我的资源</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if active_service %}
                    <a class="nav-link" href="{% url 'servers:service-server-list' active_service %}">云服务器</a>
                {% else %}
                    <a class="nav-link" href="{% url 'servers:server-list' %}">云服务器</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if is_need_vpn %}
                    <a class="nav-link" href="{% url 'vpn:service-vpn' active_service %}">VPN</a>
                {% else %}
                    <a class="nav-link disabled" href="#">VPN</a>
                {% endif %}
            </li>
        </ul>
    </div>
    <div class="mt-2">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            <div class="col mb-2 mt-2">
                <div class="card text-dark h-100">
                    <div class="card-body">
                        <div><p class="text-center">{% trans '云服务器' %} <i class="fa fa-desktop"></i> <span class="badge badge-primary badge-pill">{{ private_server_count|add:shared_server_count }}</span></p></div>
                        <canvas id="id-chart-quota-server"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="bg-light p-2">资源配额({{ quotas|length }})</div>
            {% if quotas %}
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
                    {% for q in quotas %}
                        <div class="col mb-2 mt-2">
                            <div class="card text-dark h-100">
                                <div class="card-header bg-white">
                                    {{ q.get_tag_display }}
                                    {% if q.expiration_time %}
                                        <span class="float-right font-weight-lighter">有效期至{{ q.expiration_time|date:"Y-m-d H:i:s" }}</span>
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <div>
                                        <div class="">
                                            <span class="badge badge-info">总额：{{ q.vcpu_total }}</span>
                                            <span class="badge badge-dark">已用：{{ q.vcpu_used }}</span>
                                            <span class="badge badge-success float-right">可用：{{ q.vcpu_free_count }}</span>
                                        </div>
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend w-25">
                                                <span class="input-group-text w-100" id="quota-ram">vCPU</span>
                                            </div>
                                            <div class="progress form-control bg-white" aria-describedby="quota-vcpu">
                                                {% if q.vcpu_total > 0 %}
                                                    {% widthratio q.vcpu_used q.vcpu_total 100 as width %}
                                                    <div class="progress-bar bg-dark" role="progressbar" style="width: {{ width }}%">{{ width }}%</div>
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ width|subtract_ratio }}"></div>
                                                {% else %}
                                                    <div class="progress-bar bg-dark" role="progressbar" style="width: 100%"></div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="">
                                            <span class="badge badge-info">总额：{{ q.ram_total }} Mb</span>
                                            <span class="badge badge-dark">已用：{{ q.ram_used }} Mb</span>
                                            <span class="badge badge-success float-right">可用：{{ q.ram_free_count }} Mb</span>
                                        </div>
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend w-25">
                                                <span class="input-group-text w-100" id="quota-ram">RAM</span>
                                            </div>
                                            <div class="progress form-control bg-white" aria-describedby="quota-ram">
                                                {% if q.ram_total > 0 %}
                                                    {% widthratio q.ram_used q.ram_total 100 as width %}
                                                    <div class="progress-bar bg-dark" role="progressbar" style="width: {{ width }}%">{{ width }}%</div>
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ width|subtract_ratio }}"></div>
                                                {% else %}
                                                    <div class="progress-bar bg-dark" role="progressbar" style="width: 100%"></div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="">
                                            <span class="badge badge-info">总额：{{ q.disk_size_total }} Gb</span>
                                            <span class="badge badge-dark">已用：{{ q.disk_size_used }} Gb</span>
                                            <span class="badge badge-success float-right">可用：{{ q.disk_free_size }} Gb</span>
                                        </div>
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend w-25">
                                                <span class="input-group-text w-100" id="quota-ram">vDisk</span>
                                            </div>
                                            <div class="progress form-control bg-white" aria-describedby="quota-disk">
                                                {% if q.disk_size_total > 0 %}
                                                    {% widthratio q.disk_size_used q.disk_size_total 100 as width %}
                                                    <div class="progress-bar bg-dark" role="progressbar" style="width: {{ width }}%">{{ width }}%</div>
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ width|subtract_ratio }}"></div>
                                                {% else %}
                                                    <div class="progress-bar bg-dark" role="progressbar" style="width: 100%"></div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="">
                                            <span class="badge badge-info">总额：{{ q.public_ip_total }}</span>
                                            <span class="badge badge-dark">已用：{{ q.public_ip_used }}</span>
                                            <span class="badge badge-success float-right">可用：{{ q.public_ip_free_count }}</span>
                                        </div>
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend w-25">
                                                <span class="input-group-text w-100" id="quota-ram">PublicIP</span>
                                            </div>
                                            <div class="progress form-control bg-white" aria-describedby="quota-public-ip">
                                                {% if q.public_ip_total > 0 %}
                                                    {% widthratio q.public_ip_used q.public_ip_total 100 as width %}
                                                    <div class="progress-bar bg-dark" role="progressbar" style="width: {{ width }}%">{{ width }}%</div>
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ width|subtract_ratio }}"></div>
                                                {% else %}
                                                    <div class="progress-bar bg-dark" role="progressbar" style="width: 100%"></div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="">
                                            <span class="badge badge-info">总额：{{ q.private_ip_total }}</span>
                                            <span class="badge badge-dark">已用：{{ q.private_ip_used }}</span>
                                            <span class="badge badge-success float-right">可用：{{ q.private_ip_free_count }}</span>
                                        </div>
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend w-25">
                                                <span class="input-group-text w-100" id="quota-ram">PrivateIP</span>
                                            </div>
                                            <div class="progress form-control bg-white" aria-describedby="quota-private-ip">
                                                {% if q.private_ip_total %}
                                                    {% widthratio q.private_ip_used q.private_ip_total 100 as width %}
                                                    <div class="progress-bar bg-dark" role="progressbar" style="width: {{ width }}%">{{ width }}%</div>
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ width|subtract_ratio }}"></div>
                                                {% else %}
                                                    <div class="progress-bar bg-dark" role="progressbar" style="width: 100%"></div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div>
                    <p class="text-warning p-2">{% trans '您现在还没有可用的资源配额。' %}</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'chartjs/Chart-2.9.3.min.js' %}"></script>
    <script>
        let data_server = [{{ shared_server_count }}, {{ private_server_count }}];
        {% verbatim script %}
        window.chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(80,192,83)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };
        function create_chart(ctx, type, data, options){
            return new Chart(ctx, {
                type: type,
                data: data,
                options: options
            })
        }

        //@title: title.text
        //@data: datasets.data
        function create_chart_pie(ctx, title, data){
            let title_display = false;
            if (title){
                title_display = true;
            }
            return create_chart(ctx, 'pie', {
                labels: ['已用', '可用'],
                datasets: [{
                    data: data,
                    backgroundColor: [
						window.chartColors.grey,
						window.chartColors.green
					],
                    borderWidth: 2
                }]
            }, {
                title: {
                    display: title_display,
                    text: title
                },
                legend: {
                    position: 'right'
                }
            })
        }

        let canvas_server = document.getElementById('id-chart-quota-server').getContext('2d');
        window.chart_server = create_chart(canvas_server, 'doughnut', {
                labels: ["共享已建", "私有已建"],
                datasets: [{
                    data: data_server,
                    backgroundColor: [
						window.chartColors.blue,
                        window.chartColors.orange
					],
                    borderWidth: 2
                }]
            }, {
                legend: {
                    position: 'right'
                },
                cutoutPercentage:60,
                circumference: Math.PI,
                rotation:Math.PI
            });
        {% endverbatim script %}
    </script>
{% endblock %}
