{% extends 'sidebar.html' %}
{% load static %}
{% load sizeformat %}
{% load i18n %}

{% block head %}
    <style>
        .text-overflow-hide {
            width: 50%;
            word-break: keep-all;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
{% endblock %}
{% block title %}{% trans '首页' %}{% endblock %}

{% block content %}
    <div class="bg-light">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                {% if active_service %}
                    <a class="nav-link active" href="{% url 'service:home' active_service %}">我的资源</a>
                {% else %}
                    <a class="nav-link active" href="{% url 'service:index' %}">我的资源</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if active_service %}
                    <a class="nav-link" href="{% url 'servers:service-server-list' active_service %}">云服务器</a>
                {% else %}
                    <a class="nav-link" href="{% url 'servers:server-list' %}">云服务器</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if active_service %}
                    <a class="nav-link" href="{% url 'vpn:service-vpn' active_service %}">VPN</a>
                {% else %}
                    <a class="nav-link disabled" href="#">VPN</a>
                {% endif %}
            </li>
        </ul>
    </div>
    <div class="mt-2">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3">
            <div class="col mb-4">
                <a class="card text-dark h-100"
                    {% if active_service %}
                        href="{% url 'servers:service-server-list' active_service %}"
                    {% else %}
                        href="{% url 'servers:server-list' %}"
                    {% endif %}
                >
                    <div class="card-body">
                        <p>{% trans '云服务器' %} <i class="fa fa-desktop"></i> <span class="badge badge-primary badge-pill">{{ servers_count }}</span></p>
                        {% if servers %}
                            <table class="table text-center" style="table-layout:fixed">
                                <thead>
                                <tr>
                                    <th scope="col">IP</th>
                                    <th scope="col">备注</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for s in servers %}
                                    <tr>
                                        <th scope="row">{{ s.ipv4 }}</th>
                                        <td class="text-overflow-hide">{{ s.remarks }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>无云服务器</p>
                        {% endif %}
                    </div>
                </a>
            </div>
            <div class="col mb-4">
                <a class="card text-dark h-100"
                    {% if active_service %}
                        href="{% url 'vpn:service-vpn' active_service %}"
                    {% else %}
                        disabled="true"
                    {% endif %}
                >
                    <div class="card-body">
                        <p>VPN</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}
