{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans '关于' %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center h-100 bg-light">
        <div class="card border-0 col-md-8 col-lg-6">
            <div class="card-body">
                <div class="p-2">
                    <h5 class="card-title">{% trans '关于服务' %}</h5>
                    <p>{% trans '本服务为中国科技云一体化云服务的后端服务，包含云服务器、云硬盘、计量结算和监控等功能。' %}</p>
                </div>
                <div class="p-2">
                    <h5>{% trans '版本' %}</h5>
                    <p>
                        <i class="fa fa-tag"></i>
                        <span class="text-dark font-weight-bold">{{ version }}</span> &emsp;
                        {% if git_changeset %}
                            <i class="fa fa-clock"></i> <span>{{ git_changeset.timestamp|date:'Y-m-d H:i:s' }}</span>&emsp;
                        {% endif %}
                        <span><a href="{% url 'docs:docs' %}#/changelog" target="view_window">
                            {% trans '变更日志' %}</a>
                        </span>
                    </p>

                    {% if git_tagset %}
                        <div>
                        {% for tag in git_tagset %}
                            <hr>
                            <div>
                                <p class="text-info font-weight-bold"><i class="fa fa-tag"></i> {{ tag.0 }}</p>
                                <p>
                                    <i class="fa fa-clock"></i> <span>{{ tag.1|date:'Y-m-d H:i:s' }}</span>&emsp;
                                    <i class="fa fa-user"></i> <span>{{ tag.2 }} {{ tag.3 }}</span>
                                </p>
                                <pre style="white-space: pre-wrap;word-wrap: break-word">{{ tag.4 }}</pre>
                            </div>
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="p-2">
                    <h5>{% trans '关于我们' %}</h5>
                    <p>{% trans '中国科学院计算机网络信息中心，科技云部。' %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
