{% load static %}
{% load i18n %}
{% load cache %}
{% load sitetags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.5.0/css/bootstrap.min.css' %}">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <style>
        html{
            height: 100%;
            font-size: 14px;
        }
        body{
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .page-header{
            flex: 0 0 auto;
        }
        .page-content {
            flex: 1 0 auto;
            padding-top: 10px;
            padding-bottom: 20px;
        }
        .page-footer{
            background: #ececec;
            flex: 0 0 auto;
            {#height:60px;#}
        }
    </style>
</head>
<body>
<div class="page-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        {% get_website_title as site_title %}
        <a class="navbar-brand" href="{% url "home" %}">{{ site_title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url "home" %}"><i class="fa fa-home"></i>{% trans '首页' %}</a></li>
                {% block navbar %}{% endblock %}
                {% show_navbars as navbars %}
                    {% for bar in navbars %}
                        <li class="nav-item"><a class="nav-link" href="{{ bar.url }}">{{ bar.name }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">{% trans '后台管理' %}</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar-help-dropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="false" aria-expanded="false">{% trans '文档' %}</a>
                    <div class="dropdown-menu" aria-labelledby="navbar-help-dropdown">
                        <a class="dropdown-item" href="{% url 'apidocs' %}"
                           target="view_window">{% trans 'API交互文档' %}</a>
                        <a class="dropdown-item" href="{% url 'redoc' %}" target="view_window">{% trans 'API文档' %}</a>
                        <a class="dropdown-item" href="{% url 'docs:docs' %}" target="view_window">{% trans '文档' %}</a>
                        <a class="dropdown-item" href="{% url 'about' %}">{% trans '关于' %}</a>
                    </div>
                </li>
                <li class="nav-item">
                    {% get_available_languages as LANGUAGES %}
                    {% get_current_language as current_language %}
                    <form action="{% url 'set_language' %}" method="post" id="id-language-switcher" hidden>
                        {% csrf_token %}
                    </form>
                    <div class="nav-link">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text border-0 bg-dark text-white" for="language-switcher"><i class="fas fa-globe"></i></label>
                            </div>
                            <select class="border-0 bg-dark text-white" id="language-switcher">
                                {% for code, name in LANGUAGES %}
                                    <option class="language-switcher-item" {% if current_language == code %}selected{% endif %} value="{{ code }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-user-dropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i>{{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbar-user-dropdown">
                            <a class="dropdown-item" href="{% url 'users:logout' %}?next=/">{% trans '登出' %}</a>
                            <a class="dropdown-item" href="{% url 'users:password' %}">{% trans '修改密码' %}</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:local_login' %}">{% trans '登录' %}</a></li>
{#                    <li class="nav-item"><a class="nav-link" href="{% url 'users:register' %}">{% trans '注册' %}</a></li>#}
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
    <div class="page-content">
        {% block body %}{% endblock %}
    </div>
    <footer class="page-footer text-center bg-dark text-white">
        <p class="p-2">Powered by <a target="_blank" href="https://gitee.com/cstcloud-cnic">CSTCloud-CNIC</a></p>
    </footer>
    <script type="text/javascript" src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-4.5.0/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fontawesome-free/js/all.min.js' %}"></script>
    {% verbatim %}
    <script>
        $("#language-switcher").on("change", function () {
            let langValue = $(this).val();
            let form = $("#id-language-switcher");
            let langInput = document.createElement("input");
            langInput.type="text";
            langInput.name="language";
            langInput.value = langValue;
            form.append(langInput);
            form.submit();
        })
    </script>
    {% endverbatim %}
    {% block base-script %}{% endblock %}
</body>
</html>
