{% extends 'base.html' %}
{% load i18n %}
{% load services %}
{% load cache %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="list-group list-group-flush mt-2">
                    <div role="presentation" class="list-group-item m-0 p-0">
                        <li class="nav-list-toggle p-2 btn" data-toggle="collapse" data-target="#service-nav-list-group">
                            <i class="fa fa-list"></i> {% trans '服务中心' %} <i class="fa fa-chevron-down"></i>
                        </li>
                        <div class="collapse show bg-light" id="service-nav-list-group">
                            <div class="nav flex-column nav-pills">
                                <a class="nav-link {% if not active_service %}active{% endif %}" href="{% url 'service:index' %}">{% trans '全部' %}</a>
{#                                {% cache 300 navbarservices %}#}
                                {% get_services as services %}
                                {% for s in services %}
                                    <a class="nav-link {% ifequal s.id active_service %}active{% endifequal %}" href="{% url 'service:home' s.id %}">{{ s.name }}</a>
                                {% endfor %}
{#                            {% endcache %}#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10" id="content-display-div">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

