{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load services %}
{% load cache %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="nav flex-column mt-2">
                    <div role="presentation" class="nav-item m-0 p-0">
                        <div class="nav flex-column nav-pills bg-light">
                            <a class="nav-link {% if not active_service %}active{% endif %}" href="{% url 'servers:server-list' %}">{% trans '机构/数据中心' %}</a>
                        </div>
                    </div>
                    {% get_center_and_services as centers %}
                    {% for c in centers %}
                        <div role="presentation" class="nav-item m-0 p-0">
                            <li class="nav-list-toggle p-2 pl-0 btn" data-toggle="collapse" data-target="#service-{{ c.id }}-nav-list-group">
                                <i class="fa fa-list"></i> {{ c.name }} <i class="fa fa-chevron-down"></i>
                            </li>
                            <div class="collapse show bg-light" id="service-{{ c.id }}-nav-list-group">
                                <div class="nav flex-column nav-pills">
                                    {% for s in c.services %}
                                        <div class="media">
                                            {% if s.service_type == 0 %}
                                                <img class="align-self-center" height="25" width="25" alt="" src="{% static 'images/logos/evcloud-logo.png' %}">
                                            {% elif s.service_type == 1 %}
                                                <img class="align-self-center" height="25" width="25" alt="" src="{% static 'images/logos/openstack-logo.png' %}">
                                            {% elif s.service_type == 2 %}
                                                <img class="align-self-center" height="25" width="25" alt="" src="{% static 'images/logos/vmware-logo.png' %}">
                                            {% endif %}
                                            <div class="media-body">
                                                <a class="nav-link m-0 pl-1 {% ifequal s.id active_service %}active{% endifequal %}" href="{% url 'servers:service-server-list' s.id %}">{{ s.name }}</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-10" id="content-display-div">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

