{% load i18n %}
<div class="btn-group">
    <button type="button" class="btn btn-sm btn-info btn-vnc-open" data-server-id="{{ vm.id }}">
        <i class="fa fa-desktop"></i></button>
    <button type="button" class="btn btn-sm btn-success dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">{% trans '操作' %}
    </button>
    <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item bg-success btn-vm-start" type="button" data-server-id="{{ vm.id }}">{% trans '开机' %}</button>
        <button class="dropdown-item bg-warning btn-vm-shutdown" type="button" data-server-id="{{ vm.id }}">{% trans '关机' %}</button>
        <button class="dropdown-item bg-warning btn-vm-reboot" type="button" data-server-id="{{ vm.id }}">{% trans '软重启' %}</button>
        <button class="dropdown-item bg-warning btn-vm-poweroff" type="button" data-server-id="{{ vm.id }}">{% trans '强制断电' %}</button>
        <button class="dropdown-item bg-danger btn-vm-delete" type="button" data-server-id="{{ vm.id }}">{% trans '删除' %}</button>
        <button class="dropdown-item bg-danger btn-vm-delete-force" type="button" data-server-id="{{ vm.id }}">{% trans '强制删除' %}</button>
    </div>
</div>


